<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="../static/CSS/login.css">
  </head>
  <body>
    <a href="/">
      <img src = "../static/CSS/images/headnew.png" width="100%">
    </a>
    <form>
      <h1>Login</h1>
      <label for="username">Patient Name:</label>
      <input type="text" id="username" name="username" required>
      <label for="password">Patient Code:</label>
      <input type="password" id="password" name="password" required>
    </form>
    <form action="index" method="post" align="center">
      <input type="submit" name="text" value="Enter the Platform" align="center">
    </form>
    <script src="../static/js/d3/login.js"></script>
  </body>
</html>
