<!DOCTYPE html>
<html>
<head>
	<title>Patient 360-Login</title>
	<link rel="stylesheet" type="text/css" href="../static/CSS/login.css">
</head>
<body>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> Sign In </h2>
    <a href="http://127.0.0.1:5000/signup"><h2 class="inactive underlineHover">Sign Up </h2></a>

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="../static/user1.png" id="icon" alt="User Icon" />
    </div>
    <!-- Login Form -->
    <form action="http://127.0.0.1:5000/result" method="POST">
      <input type="email" id="login" class="fadeIn second" name="email" placeholder="email">
      <input type="password" id="password" class="fadeIn third" name="pass" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>
  </div>
</div>
</body>
</html>